      <ion-view title="">
        <ion-content>
    <ion-list>
        <section class="ac-container">
            <div class="list cartView">

  <a class="item item-icon-left" style="color:#444">
    <i class="icon ion-email"></i>
   ordercurry@live.co.uk
  </a>

  <!-- <div class="item item-icon-left contact" ng-repeat="m in rst_tel" href="tel:{{m}}">
 --> 
  <a class="item item-icon-left contact" ng-repeat="m in rst_tel" href="tel:{{m}}" style="color:#444">
     <i class="icon ion-ios7-telephone"></i>
   
 
    {{m}}
  </a>

 <div class="item item-divider">
    <i class="ion-ios7-location"></i> Address
  </div>

  <div class="item contact" style="font-size:12px">
   {{address}}
  </div>

 <div class="item item-divider">
    <i class="icon ion-calendar"></i> Opening Hourse
  </div>

  <div class="item contact" style="font-size:12px">
MONDAY – SUNDAY<br>
4.30 PM - 11.00 PM
  </div>
    <iframe width="100%" height="100%" frameborder="0" style="pointer-events:none;border:0"
        src="https://www.google.com/maps/embed/v1/place?q=Curry World Indian Takeaway&key=AIzaSyAIzqPVWgsYi4qAxmoCwiCXr_vZ3oidyyY">
  </iframe>
</div>



  </section>
    </ion-list>
</ion-content>
      </ion-view>