<div class="modal">
  <header class="bar bar-header bar-assertive" style="background-color:#c62b2b">
    <h1 class="title">CHOOSE DATE</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closedateModal(myDate)" style="Color:#fff" >Close</button>
    </div>
  </header>
  <ion-content has-header="true">
    <div class="padding" style="margin-top:30px;">
      <div pickadate ng-model="myDate" ng-min="date1"></div>
    </div>
    <button class="button button-full button-positive" ng-click="closedateModal(myDate)">Save</button>
  </ion-content>
</div>