     <ion-view title="Change Password">
        <ion-content>
    <ion-list>
        <section class="ac-container">
            <div class="card">
              <div class="list list-inset">

                <label class="item item-input">
                  <i class="icon ion-locked placeholder-icon"></i>
                  <input type="password" placeholder="Old password" ng-model="login.username">
                </label>
                 <label class="item item-input">
                  <i class="icon ion-locked placeholder-icon"></i>
                  <input type="password" placeholder="New password" ng-model="login.username">
                </label>
                <button class="button button-full button-positive" ng-click="loginAuthorization()">
                Save Change
              </button>
              </div>
          </div>
        </section>
    </ion-list>
</ion-content>
      </ion-view>